{% load static %}
{% block content %}
<style>
  /* styles.css */

.cart-icon {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

</style>
<!-- header section starts -->
<header class="header_section long_section px-0">
  <nav class="navbar navbar-expand-lg custom_nav-container ">
    <a class="navbar-brand" href="{% url 'home' %}">
      <span>LEATHER FREEK</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class=""> </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html"> Wallet/Purse </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="furniture.html">WEARABLES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">ACCESSORIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>
        </ul>
      </div>
      {% if user.is_authenticated %}
      <div class="quote_btn-container">
        <a href="{% url 'user_logout' %}">
          <span>Logout</span>
          <i class="fa fa-user" aria-hidden="true"></i>
        </a>
        <a href="#">
          <button class="btn my-2 my-sm-0 nav_cart-btn" type="button">
            <img src="{% static 'images/shopping_cart.ico' %}" alt="Cart Icon" class="cart-icon">
          </button>
        </a>
      
      </div>
      {% else %}
      <div class="quote_btn-container" id="login-content" style="display: none;">
        <a href="{% url 'user_login' %}">
          <span>Login</span>
          <i class="fa fa-user" aria-hidden="true"></i>
        </a>
        <a href="#">
          <button class="btn my-2 my-sm-0 nav_cart-btn" type="button">
            <img src="{% static 'images/shopping_cart.ico' %}" alt="Cart Icon" class="cart-icon">
          </button>
        </a>

      </div>

      <div class="quote_btn-container" id="signup-content" style="display: none;">
        <a href="{% url 'user_signup' %}">
          <span>Sign Up</span>
          <i class="fa fa-user" aria-hidden="true"></i>
        </a>
        <a href="#">
          <button class="btn my-2 my-sm-0 nav_cart-btn" type="button">
            <img src="{% static 'images/shopping_cart.ico' %}" alt="Cart Icon" class="cart-icon">
          </button>
        </a>
      </div>

      <div class="quote_btn-container" id="signup_login-content" style="display: none;">
        <a href="#">
          <span>Login / Signup</span>
          <i class="fa fa-user" aria-hidden="true"></i>
        </a>
        <a href="#">
          <button class="btn my-2 my-sm-0 nav_cart-btn" type="button">
            <img src="{% static 'images/shopping_cart.ico' %}" alt="Cart Icon" class="cart-icon">
          </button>
        </a>
      </div>
      {% endif %}
    </div>
  </nav>
</header>
<!-- end header section -->

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const url = window.location.href;
    const loginContent = document.getElementById("login-content");
    const signupContent = document.getElementById("signup-content");
    const signupLoginContent = document.getElementById("signup_login-content");

    if (!{{ user.is_authenticated|yesno:"true,false" }}) {
      if (url.includes("/accounts/signup/")) {
        signupContent.style.display = "none";
        loginContent.style.display = "block";
        signupLoginContent.style.display = "none";
      } else if (url.includes("/accounts/login/")) {
        loginContent.style.display = "none";
        signupContent.style.display = "block";
        signupLoginContent.style.display = "none";
      } else {
        loginContent.style.display = "none";
        signupContent.style.display = "none";
        signupLoginContent.style.display = "block";
      }
    }
  });
</script>

{% endblock %}